# git alias
alias gs="git status"
alias gm="git commit -m"
alias ga="git add"
alias delete-merged-branches="git branch --merged | grep -v "\*" | xargs -n 1 git branch -d"

# python server
alias python_server='python -m SimpleHTTPServer'


