# .erb and .rhmtl files

# Includes html.snippets

# Rails *****************************
snippet =
	<%= ${1} %>
snippet =end
	<%= ${1} %>
	<% end %>
snippet -
	<% ${1} %>
snippet -end
	<% ${1} %>
	<% end %>
snippet end
	<% end %>
